<div class="logged_in_container">
  <span class="logged_in">
    <% if logged_in? %>
      Hello there <%= current_user.username %>
      <form action="/session" method="post">
      <input type="hidden" name="_method"         value="delete">
        <button class="logout_Btn">Logout</button>
      </form>
    <% end %>
  </span>
  <nav class="header_links">
    <% if logged_in? %>
      <a href="/songs/new">Add</a>
      <a href="/playlist">Playlist</a>
    <% end %>
    <% if !logged_in? %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% end %>
  </nav>

</div>

<header>
    <h1>Monday Morning Music</h1>
</header>

<p class="about">Life can be hard, and Mondays can be even harder. Morning Monday Music is a place to share those singular songs that help you face the week ahead. Add songs to the main page, listen and like others to add to your own playlist.</p>

<header class="songs">
    <h1>Songs</h1>
</header>

<section class="artwork_container">
  <% @song.each do |song| %>
    <a class="song_homepage" href="/songs/<%= song.id %>">
    <img class="img_homepage" src="<%= song.artwork_url %>" alt="">
    <p><%= song.title%></p>
    
  <% end %>
</section>



