<header>
  <h1>Monday Morning Music</h1>
  <nav>
    <% if logged_in? %>
      <a href="/songs/new">Add</a>
      <a href="/playlist">Playlist</a>
    <% end %>
    <% if !logged_in? %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% end %>
  </nav>
</header>


<section class="artwork_container">
  <% @song.each do |song| %>
    <a class="song_homepage" href="/songs/<%= song.id %>">
      <img class="img_homepage" src="<%= song.artwork_url%>" alt="">
      <p><%= song.title%></p>
    </a>
  <% end %>
</section>