<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Morning Monday</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <%# <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> %>
  <link href="https://fonts.googleapis.com/css?family=Londrina+Outline" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neucha|Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">

</head>
<body>

  <%= yield %>
<script src="/home/thomas/wdi/project_02/monday_music/public/javascripts/application.js"></script>
</body>
</html>