<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Morning Monday</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <%# <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> %>
  <link href="https://fonts.googleapis.com/css?family=Londrina+Outline" rel="stylesheet">
</head>
<body>

  <div class="logged_in_container">
    <% if logged_in? %>
      logged in as <%= current_user.username %>
      <form action="/session" method="post">
      <input type="hidden" name="_method"         value="delete"><button>Logout</button>
      </form>
    <% end %>
  </div>
  
  <%= yield %>

</body>
</html>