<div class="logged_in_container">
  <span class="logged_in">
  </span>
  <nav class="header_links">
    <a href="/">Home</a>
    <% if !logged_in? %>
      <a href="/register">Register</a>
    <% end %>
  </nav>
</div>

<header>
    <h1>Login</h1>
</header>

<% if @user_not_found %>
  <p class="error_prompts">Are you sure that's right? Try again...</p>
<% end %>

<div class="container">

  <form class="input_form" action="/session" method="post">

    <label for="">Username</label>
    <br>
    <input class="input_box" type="text" name="username">
    <br>
    <label for="">Password</label> 
    <br>
    <%# password type = hidden instead of text %>
    <input class="input_box" type="password" name="password">
    <br>
    <button class="post_Btn">Login</button>
  </form>
  <p class="not_registered">Not Registered?</p>
  
  <a class="click_here" href="/register">Click Here</a>
</div>



