<h1>login</h1>

<form action="/session" method="post">
  <label for="">Username</label>
  <input type="text" name="username">
  <label for="">Password</label>
  <%# password type = hidden instead of text %>
  <input type="password" name="password">
  <button>Login</button>
</form>

<h3>Not Registered?</h3>
<a href="/register">Click Here</a>