<header>
  <h1>Add A Song</h1>
  <nav>
    <a href="/">
      <button class="nav_Btn">Home</button>
    </a>
  </nav>
</header>


<div class="container">

  <form class="add_song_form" action="/songs" method="post">

    <label for="">Title</label>
    <br>
    <input type="text" name="title">
<br>
    <label for="">Artist</label>
    <br>
    <input type="text" name="artist">
<br>
    <label for="">Album</label>
    <br>
    <input type="text" name="album">
<br>
    <label for="">Artwork</label>
    <br>
    <input type="text" name="artwork_url">
<br>
    <label for="">Song Link</label>
    <br>
    <input type="text" name="song_url">
<br>
    <button>post</button>
  </form>

</div>

