<header>
  <h1>My Monday Music</h1>
  <nav>
    <a href="/songs/new">
      <button class="nav_Btn">Add</button>
    </a>
    <a href="/playlist">
      <button class="nav_Btn">Playlist</button>
    </a>
    <a href="/login">
      <button class="nav_Btn">Login</button>
    </a>
    <a href="/register">
      <button class="nav_Btn">Register</button>
    </a>
  </nav>
</header>


<% @songs.each do |song| %>

  <p>
    <a href="/songs/<%= song.id %>">
    <p><%= song.song_url%></p>
      
    </a>
  </p>

<% end %>


<a href="/">
  <button>Home</button>
</a>