<div class="logged_in_container">
  <span class="logged_in">
    <% if logged_in? %>
      Hello there <%= current_user.username %>
      <form action="/session" method="post">
      <input type="hidden" name="_method"         value="delete">
        <button class="logout_Btn">Logout</button>
      </form>
    <% end %>
  </span>
  <nav class="header_links">
    <a href="/">Home</a>
    <a href="/songs/new">Add</a>
    </nav>
</div>

<header>
  <h1>My Monday Music</h1>
</header>


<section class="playlist_container">
  <% if @like.count == 0 %>
    <p class="no_likes_prompt">
      You don't have any liked tracks yet. 
      <br>
      Go have yourself an auditory treat.
    </p>
  <% end %>
  <% @user.songs.each do |song| %>
    <iframe class="artwork_playlist" width="560" height="315" src="<%= song['song_url'].sub('watch?v=', 'embed/') %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <% end %>



</section>
