<div class="logged_in_container">
  <span class="logged_in">
    <% if logged_in? %>
      Hello there <%= current_user.username %>
      <form action="/session" method="post">
      <input type="hidden" name="_method"         value="delete">
        <button class="logout_Btn">Logout</button>
      </form>
    <% end %>
  </span>
  <nav class="header_links">
    <% if logged_in? %>
      <a href="/songs/new">Add</a>
      <a href="/playlist">Playlist</a>
    <% end %>
    <% if !logged_in? %>
      <a href="/login">Login</a>
      <a href="/">Home</a>
    <% end %>
  </nav>

</div>

<header>
    <h1>Register</h1>
</header>


<% if @user && !@user.valid? %>
  <p>That username is already taken. Please try another.</p>
<% end %>

<div class="register_container">

  <form class="register_form" action="/register" method="post">

    <label class="form_words" for="">Username</label>
  <br>
    <input class="login_box" type="text" name="username">
  <br>
    <label class="form_words" for="">Password</label>
  <br>
    <input class="login_box" type="password" name="password">
  <br>
     <label class="form_words" for="">Email</label>
  <br>
    <input class="login_box" type="email" name="email">
  <br>
    <button class="post_Btn">Register</button>
  </form>





</div>

