<header>
  <h1>Register</h1>
  <nav>
    <a href="/">
      <button class="nav_Btn">Home</button>
    </a>
  </nav>
</header>



<% if @user && !@user.valid? %>
  <p>Username is already taken. Please try another.</p>
<% end %>

<div class="register_container">

  <form class="register" action="/register" method="post">

    <label for="">Username</label>
  <br>
    <input type="text" name="username">
  <br>
    <label for="">Password</label>
  <br>
    <input type="password" name="password">
  <br>
    <button>Register</button>
  </form>





</div>

