body {
  /* display: flex; */
  /* background: grey; */
  /* font-family: 'Londrina Outline', sans-serif; */
  font-family: 'Trirong', serif;
  color: black;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  background-color: #B4EDF7;
  margin: 0;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.logged_in_container {
  text-align: left;
  margin-left: 30px;
  font-size: 1em;
}

h1 {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 3em;
  padding-left: 30px;
  padding-top: 30px;
  font-family: 'Londrina Outline', sans-serif;
  /* border: 1px solid black; */
  font-size: 4em;
}

h2 {
  font-family: 'Londrina Outline', sans-serif;
  color: black;
  font-size: 2.5em;
}

nav {
  display: flex; 
  justify-content: right; 
  padding-right: 20px;
}


.artwork_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 2px solid black; */
}

.img_homepage {
  display: flex;
  width: 40vw;
  height: 20vh;
  /* padding: 20px; */
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0 0 0;
  border: 5px solid black;
  
}

.song_homepage {
 padding-top: 30px;
 font-size: 1.5em;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  transition: 0.3s;
  padding: 0;
  border: 1px solid black;
}

a:hover {
  color: rgb(44, 161, 122);
  font-weight: 500;
}

.nav_Btn {
  display: flex; 
  justify-content: right; 
  padding-right: 30px; 
  text-align: center; 
  margin-top: 15px;
  -moz-box-shadow:inset -2px 14px 2px -18px #ffffff;
	-webkit-box-shadow:inset -2px 14px 2px -18px #ffffff;
	box-shadow:inset -2px 14px 2px -18px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	/* padding:8px 24px; */
	text-decoration:none;
	text-shadow:0px 0px 9px #ffffff;
}

.nav_Btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

.myButton:active {
	position:relative;
	top:1px;
}

.container {
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* width: 50%; */
  height: 100vh;
}


.add_song_form {
  border: 2px solid black;
  width: auto;
  font-size: 2em;
  text-align: center;
}

.add_song_box {
  width: 70%;
  height:4vh;
  font-size: 0.8em;
  border-radius: 25px;
  transition: 0.5s;
}

.add_song_box:hover {
  /* border-color: purple; */
}

input {
  width : 150px;
  margin: 0;
  -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
        box-sizing: border-box;
  
}

.img_detail {
  width: 400px;
  height: 400pz;
}

.song_details {
  display: flex;
  justify-content: space-evenly;
  background-color: #B4EDF7;
  margin: 0;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

iframe {
  box-shadow: 0 0 20px 20px black;
  /* margin: 0 0 0 0; */
  /* border: 5px solid black; */
  height: 50vh;
  width: 100vw;
}

.playlist_img {
  height: 100px;
  width: 100px;
}

.details_body {
  margin-top: 0px;
  font-family: 'Trirong', serif;
  font-size: 30px;
  color: black;
}

.comment_form {
  font-size: 2em;
}

.comment_box {
  width: 50%;
  height: 5vh;
  font-size: 1em;
}

label {
  font-size: 0.7em;
}

.like_Btn {
  font-size: 0.7em;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s;
  padding-top: 0px;
}

.like_Btn:hover {
  background-color: #B4EDF7;
  
}

.post_Btn {
  font-size: 0.7em;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s;
}

.post_Btn:hover {
  background-color: #B4EDF7;
}

.likes {
  font-size: 1.5em;
  padding-bottom: 2px;

}