body {
  /* display: flex; */
  /* background: grey; */
  /* font-family: 'Londrina Outline', sans-serif; */
  font-family: 'Text Me One', sans-serif;
  color: black;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #B4EDF7;
  margin: 0;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

h1 {
  display: flex;
  font-family: 'Text Me One', sans-serif;
  /* font-family: 'Neucha', cursive; */
  /* font-family: 'Londrina Outline', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  color: black;
  font-size: 4em;
  padding-left: 30px;
}

.logged_in_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  /* border: 2px solid red; */
  padding-left: 1.5em;;
  padding-right: 1.5em;
  height: 10vh;
  font-size: 1.5em;
}

.header_links a {
  margin-right: 1.5em;

}

.logged_in {
  display: flex;
  flex-direction: column;
}

.logout_Btn {
  font-size: 0.7em;
  border-radius: 10px;
  border: none;
  background-color: white;
  transition: 0.4s;
}

.logout_Btn:hover {
  background-color: #B4EDF7;
}


h2 {
  /* font-family: 'Londrina Outline', sans-serif; */
  font-family: 'Text Me One', sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: #B4EDF7;
  margin-top: 1em;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}


.artwork_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* font-weight: bold; */
  font-family: 'Roboto', sans-serif;
  /* border: 2px solid black; */
}

.img_homepage {
  display: flex;
  width: 40vw;
  height: 20vh;
  /* padding: 20px; */
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0 0 0;
  border: 5px solid black;
  
}

.song_homepage {
 padding-top: 30px;
 font-size: 1.5em;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  transition: 0.3s;
  padding: 0;
  /* border: 1px solid black; */
}

a:hover {
  color: rgb(44, 161, 122);
  font-weight: 500;
}

.container {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.add_song_form {
  border: 2px solid black;
  width: auto;
  font-size: 2em;
  text-align: center;
}

.add_song_box {
  width: 70%;
  height:4vh;
  font-size: 0.8em;
  border-radius: 25px;
  transition: 0.5s;
}

.add_song_box:hover {
  /* border-color: purple; */
}

input {
  width : 150px;
  margin: 0;
  -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
        box-sizing: border-box;
  
}

.img_detail {
  width: 400px;
  height: 400pz;
}

.song_details {
  font-family: 'Text Me One', sans-serif;
  display: flex;
  justify-content: space-evenly;
  background-color: #B4EDF7;
  margin: 0;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

iframe {
  /* box-shadow: 0 0 2px 3px #B4EDF7; */
  /* margin: 0 0 0 0; */
  /* border: 5px solid black; */
  height: 50vh;
  width: 90vw;
}

.playlist_img {
  height: 100px;
  width: 100px;
}

.details_body {
  margin-top: 0px;
  font-family: 'Trirong', serif;
  font-size: 30px;
  color: black;
}

.comment_form {
  font-size: 2em;
}

.comment_box {
  width: 50%;
  height: 5vh;
  font-size: 1em;
  /* border-radius: 10px; */
  border: 1px solid black;
  transition: 0.2s
}

.comment_box:focus {
  outline: none;
  border-color: #B4EDF7;
  box-shadow: 0 0 10px #9ecaed;
}

.comment_user {
  font-size: 1.5em;
  text-decoration: underline;
}

.comment_text {
  font-size: 1.2em;
}

label {
  font-size: 0.7em;
}

.like_span {
  display: flex;
  justify-content: center;
  /* width: 50%; */
}

.likes {
  margin-top: 6px;
  margin-right: 1em;
  font-size: 1.5em;
  padding-bottom: 2px;
  padding-top: 5px;
  width: 50%;
}

.like_Btn {
  font-size: 0.8em;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s;
}

.like_Btn:hover {
  background-color: #B4EDF7;
  
}

.post_Btn {
  font-size: 0.6em;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s;
}

.post_Btn:hover {
  background-color: #B4EDF7;
}


.login_form {
  padding-top: 1em;
  width: auto;
  font-size: 2em;
  font-weight: bold;
  text-align: center;

}

.login_box {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 70%;
  height:4vh;
  font-size: 0.8em;
  border-radius: 25px;
  transition: 0.5s;
}

.form_words {
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: 1em;
}

.click_here {
  font-size: 1.8em;
}

.not_registered {
  font-size: 2em;
}